@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: var(--exo-font), sans-serif;
    background-color: #1F1D2B;
  }
  * {
    box-sizing: border-box;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}