@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        font-family: var(--exo-font), sans-serif;
        background-color: #1f1d2b;
    }
    * {
        box-sizing: border-box;
    }
}

@layer components {
    .container {
        @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
    }
}
